.myProjectStyle {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 95%;
   height: 200px;
   border-radius: 10px;
   background-color: rgb(161, 150, 150);
   color: black;
   font-weight: bold;
}