.wraper {
   position: relative;
   bottom: 35px;
   border-radius: 20px;

}

.reactLogo {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 35px;
   right: 20px;
   width: 190px;
   background-color: gray;
   border: 1px solid rgb(71, 67, 67);
   border-radius: 20px;
   color: rgb(22, 191, 233);
   z-index: 0;
}

.reactLogo img {
   width: 50px;
   animation: 10s anim infinite linear;

}

.reactLogo h1,
h2 {
   font-size: 90%;
   margin: 0;
   margin-left: 20px;
   padding: 0;
}




















@keyframes anim {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}